/videos/*
/.vscode/*
*/images/*
__pycache__
videos/*
train_images
*.jpg
*.png
*.mkv
*.mp4
*.h5
*.index
*.meta
*.data*
*.pth
/work_dirs
/outputs
/dataset
/mmpose
mmdeploy/
mmdetection/
output/